DATABASE_URL=****

# Generate better auth secret with npx @better-auth/cli secret
BETTER_AUTH_SECRET=****
# Use http://localhost:3000 for development; set to your production domain in production
BETTER_AUTH_URL=http://localhost:3000

# Add your provider API keys to register and use the model providers
OPENAI_API_KEY=****
ANTHROPIC_API_KEY=****
